.todo-list {
    display: flex;
    align-items: baseline;

}

.checkbox-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incomplete {
    background-color: red;
    width: 4rem;
    color: whitesmoke;
    padding: 0 0.5rem ;
    border-radius: 25px;
}

.incomplete:after {
    content: "Incomplete";

}

.complete {
    background-color: green;
    width: 4rem;
    color: whitesmoke;
    padding: 0 0.5rem ;
    border-radius: 25px;
}

.complete:after {
    content: "Complete";

}

.card {
    margin: 1rem;
}

.container {
    display: flex;
    margin: 0 auto;
}

.container-form {
    display: block;
    margin: 1rem;
}

.status {
    font-size: small;
    font-weight: 100;
}

.label {
    font-size: small;
}