<div class="container-form">
    <h1>Todo Application</h1>
    <form [formGroup]="form" class="todo-list">
        <mat-form-field>
            <label for="taskName" class="label">Task name</label>
            <input formControlName="name" #todoInput matInput />
        </mat-form-field>
        <div class="checkbox-field">
            <label for="done" class="label">Done</label>
            <mat-checkbox formControlName="done" name="done"></mat-checkbox>
        </div>
            
    </form>
    <button mat-button (click)="addTask()">Add</button>
</div>

<div class="container">
    <mat-card *ngFor="let todo of todos" class="card">
        <h3>{{todo.name}}&nbsp;<span class="status" [ngClass]="{'complete': todo.done, 'incomplete': !todo.done}"></span></h3>
        
        <mat-card-actions>
            <button mat-button (click)="removeTask(todo)">Remove</button>
            <button mat-button (click)="changeStatus(todo)">Toggle</button>
          </mat-card-actions>
    </mat-card>
</div>
